/* CSS stillerinizi buraya girin */
body{
    margin: 0;
    padding: 0;
}
.icons{
    margin-left: 1rem;
    margin-top: 1rem;
    
}
.icons img{
width: 2rem;
}
.header{
    display: flex;
}
.sitebasligi{
    margin: 0 auto;
}

.ortaust .ismim h1{
    font-size: 5rem;
    text-align: center;
}
.navbar{
    margin-top: 5rem;
}
.navbar nav{
    text-align: center;
}
.navbar nav a{
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15%;
    color: white;
    background-color: rgb(3, 18, 235);
    padding: 2rem;
}
h1{
    font-size: 72px;
}
.tanitmadivi{
    margin-top: 7rem;
    text-align: center;
}
.tanitmadivi p{
    padding-left: 40%;
    padding-right: 40%;
}
.ortaalt{
    display: flex;
}
.ortaalt img{
    width: 20rem;
    height: 40rem;
}
.ortaalt p{
    padding:0 1rem 0 1rem;
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
}
